@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



/* Ensure the entire page has the same background as other pages */
body {
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0; */

  font-family: 'Arial', sans-serif; /* Add a font family for consistency */
}


.landingPage {
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.landingPage .mainContainer {
  padding: 20px;
}

.landingPage .titleContainer h1 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 10px;
  animation: fadeIn 2s ease-in-out;
}

.landingPage .subTitle {
  font-size: 1.5em;
  margin-bottom: 30px;
  animation: fadeIn 2s ease-in-out;
}

.landingPage .getStartedButton {
  display: inline-block;
  background-color: #ffffff;
  color: #6e8efb;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 25px;
  text-decoration: none;
  margin-bottom: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.landingPage .getStartedButton:hover {
  background-color: #6e8efb;
  color: #ffffff;
}

.landingPage .buttonContainer {
  margin-top: 20px;
}

.landingPage .inputButton {
  background-color: #ffffff;
  color: #6e8efb;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.landingPage .inputButton:hover {
  background-color: #6e8efb;
  color: #ffffff;
}



/* Login page styles */

.loginPage {
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.loginPage .second {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Adjust width as needed */
}

.loginPage form {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px; /* Adjust padding as needed */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Set a maximum width to prevent excessive horizontal growth */
  max-width: 400px; /* Adjust as needed */
}

.loginPage h2 {
  color: #333;
  /* Reduce font size for a more compact heading */
  font-size: 20px;
  margin-bottom: 15px; /* Add some space after the heading */
}

.loginPage label {
  font-weight: bold;
  font-size: 14px;
  color: #4a5568;
  margin-bottom: 4px;
  line-height: 1.5;
}

.loginPage input[type="text"],
.loginPage input[type="email"],
.loginPage input[type="password"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 12px; /* Reduce padding for a more compact look */
  font-size: 14px; /* Reduce font size for input fields */
  width: 100%; /* Maintain full width */
  margin-bottom: 10px; /* Adjust spacing between elements */
}

.loginPage input[type="text"]:focus,
.loginPage input[type="email"]:focus,
.loginPage input[type="password"]:focus {
  border-color: #6e8efb;
  outline: none;
  box-shadow: 0 0 8px rgba(110, 142, 251, 0.3);
}

.loginPage button {
  background-color: #6e8efb;
  color: white;
  padding: 8px 20px; /* Reduce padding for smaller button size */
  border: none;
  border-radius: 5px;
  font-size: 14px; /* Reduce font size for consistency */
  cursor: pointer;
  transition: background-color 0.3s;
  /* Adjust width to fit within form */
  width: 100%; /* Or a specific width */
  margin-top: 10px; /* Add some space above the button */
}

.loginPage button:hover {
  background-color: #4b6cb7;
}

.loginPage .text-green-500 {
  margin-top: 10px;
}


.error-message {
  position: fixed; /* Make it positioned relative to the viewport */
  top: 5px; /* Adjust top position as needed */
  left: 50%; /* Position at horizontal center */
  transform: translateX(-50%); /* Offset by half its width */
  padding: 5px 15px; /* Reduce padding for thinner message */
  border-radius: 4px;
  background-color: rgba(200, 0, 0, 0.8); /* Redder background */
  animation: slide-in 0.3s ease-in-out forwards;
  display: flex; /* Allow flexbox for close button */
  align-items: center; /* Align content vertically */
  justify-content: space-between; /* Space out content horizontally */
}

.error-message button,
.error-message button.close-button {
  background: none;
  border: none;
  margin-left: 2px;
  color: inherit; /* Inherit color from parent */
  font: inherit; /* Inherit font styles from parent */
  cursor: pointer; /* Indicate clickable cursor */
}


.error-message span { 
  margin-right: 10px; /* Move text closer to the button */
}





/* Register page styles */
.registerPage {
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.registerPage .second {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Adjust width as needed */
}

.registerPage form {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px; /* Adjust padding as needed */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Set a maximum width to prevent excessive horizontal growth */
  max-width: 400px; /* Adjust as needed */
}

.registerPage h2 {
  color: #333;
  /* Reduce font size for a more compact heading */
  font-size: 20px;
  margin-bottom: 15px; /* Add some space after the heading */
}

.registerPage label {
  font-weight: bold;
  font-size: 14px;
  color: #4a5568;
  margin-bottom: 4px;
  line-height: 1.5;
}

.registerPage input[type="text"],
.registerPage input[type="email"],
.registerPage input[type="password"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 12px; /* Reduce padding for a more compact look */
  font-size: 14px; /* Reduce font size for input fields */
  width: 100%; /* Maintain full width */
  margin-bottom: 10px; /* Adjust spacing between elements */
}

.registerPage input[type="text"]:focus,
.registerPage input[type="email"]:focus,
.registerPage input[type="password"]:focus {
  border-color: #6e8efb;
  outline: none;
  box-shadow: 0 0 8px rgba(110, 142, 251, 0.3);
}

.registerPage button {
  background-color: #6e8efb;
  color: white;
  padding: 8px 20px; /* Reduce padding for smaller button size */
  border: none;
  border-radius: 5px;
  font-size: 14px; /* Reduce font size for consistency */
  cursor: pointer;
  transition: background-color 0.3s;
  /* Adjust width to fit within form */
  width: 100%; /* Or a specific width */
  margin-top: 10px; /* Add some space above the button */
}

.registerPage button:hover {
  background-color: #4b6cb7;
}

.registerPage .text-green-500 {
  margin-top: 10px;
}



.error-message-register {
  position: fixed; /* Make it positioned relative to the viewport */
  top: 5px; /* Adjust top position as needed */
  left: 50%; /* Position at horizontal center */
  transform: translateX(-50%); /* Offset by half its width */
  padding: 5px 15px; /* Reduce padding for thinner message */
  border-radius: 4px;
  background-color: rgba(200, 0, 0, 0.8); /* Redder background */
  animation: slide-in 0.3s ease-in-out forwards;
  display: flex; /* Allow flexbox for close button */
  align-items: center; /* Align content vertically */
  justify-content: space-between; /* Space out content horizontally */
}

.error-message-register button,
.error-message-register button.close-button-register {
  background: none;
  border: none;
  margin-left: 2px;
  color: inherit; /* Inherit color from parent */
  font: inherit; /* Inherit font styles from parent */
  cursor: pointer; /* Indicate clickable cursor */
}


.error-message-register span { 
  margin-right: 10px; /* Move text closer to the button */
}

/* -------------------------------------------- */

/* Task Form Container */
.task-form-container {
  max-width: 960px; /* Same as max-w-4xl */
  margin: 0 auto;
  padding: 2rem;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height */
}

.task-form-header {
  background-color: #f5f5f5;
  padding: 1rem 2rem;
  border-bottom: 1px solid #ddd;
  flex-shrink: 0; /* Prevent header from shrinking */
}

.task-form-content {
  flex-grow: 1; /* Allow content to grow */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 1rem 2rem;
}

/* Logout Button */
.logout-button {
  background-color: #6e8efb;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #4b6cb7;
}

/* Task Form */
.task-form {
  background-color: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-label {
  font-weight: bold;
  color: #4a5568;
}

.form-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-input:focus {
  border-color: #6e8efb;
  outline: none;
  box-shadow: 0 0 8px rgba(110, 142, 251, 0.3);
}

.submit-button {
  background-color: #6e8efb;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #4b6cb7;
}

/* Existing Tasks */
.existing-tasks {
  background-color: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-item {
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.edit-button {
  background-color: #48bb78;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-button:hover {
  background-color: #38a169;
}

.delete-button {
  background-color: #e53e3e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #c53030;
}


/* ------------------------------------ */



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
